body {
  text-rendering: optimizeLegibility;
  font-weight: 400;
}
.container {
  min-height: 90vh;
}
.about-wrapper {
  margin-top: 40px;
  .me-about {
    padding-bottom: 40px;
  }
}
@import 'bootstrap';
p {
  font-family: $font-family-serif;
  line-height: 1.6;
  font-size: 1.05em;
  margin-bottom: 1em;
}
@import 'colors';
@import 'header';
@import 'footer';
@import 'article';
@import 'navigation';
@import 'archive';
@import 'code';
