.archive {
  h2 {
    margin-bottom: 40px;
  }
  h3 {
    font-size: 1.5em;
    font-weight: 600;
  }
  .list-group {
    margin-bottom: 60px;
    .list-group-item {
      border: none;
      font-size: 1.5em;
      .sub-header {
        font-size: 0.75em;
        padding-left: 10px;
      }
    }
  }

}
