.articles {
  .articles-navigation {
    a {
      font-size: 0.85em;
    }
  }
}

article {
  padding-top: 1.25em;
  p {
    font-size: 1.05em;
    line-height: 1.7;
    margin-bottom: 1.65em;
  }
  .main-header {
    font-weight: 700;
    font-size: 2.2em;
    margin-top: 0px;
    margin-bottom: 0.35em;
    a {
      margin-top: 0;
    }
  }
}

@media (max-width: $screen-sm) {
  article {
    .main-header {
      font-size: 1.8em;
    }
    .no-pad-top-xs {
      padding-top: 0px;
      padding-bottom: 20px;
    }
  }
}
