$main-header-color: #000;
$sub-header-color: #8C8C8C;
$link-color: #4A90E2;

.main-header {
  color: $main-header-color;
  a {
    color: $main-header-color;
  }
}

.sub-header {
  color: $sub-header-color;
}
