.face {
  width: 75px;
  display: inline;
  margin-right: 20px;
  margin-top: 15px;
}
.social-icons {
  margin-top: 1.75em;
  padding-right: 0px;
  font-size: 1.70em;
}
.header-container {
  padding-left: 0px;
  padding-right: 0px;
}
