.site-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $light-gray-color;
  padding-bottom: 15px;
  .social-icons {
    margin-left: auto;
    align-self: flex-start;
    a {
      display: inline-block;
      width: 18px;
      height: 18px;
      margin: 0px 1px;
      transition: 1s fill;
      &.social {
        fill: $gray-color;
      }
      &:hover {
        fill: $black-color;
      }
    }
  }

  .site-logo {
    width: 75px;
    height: 75px;
    border-radius: 100%;
  }

  .site-header-text {
    margin-left: 20px;
    .site-title {
      font-size: 1.2rem;
      font-weight: 400;
      margin: 0px 0px 5px;
    }
    .site-description {
      color: $gray-color;
      font-size: .7rem;
      font-weight: 300;
      margin: 0px;
    }
  }
}

@media (min-width: $screen-sm-min) {
  .site-header {
    .social-icons {
      align-self: center;
      a {
        margin: 0px 2px;
        width: 24px;
        height: 24px;
      }
    }
    .site-header-text {
      .site-title {
        font-size: 2rem;
      }
      .site-description {
        font-size: .85rem;
      }
    }
  }
}
