ul.top-nav {
  li {
    margin-right: 10px;
  }
}
.mobile-hamburger.btn.btn-default {
  outline: none;
}
.mobile-nav {
  position: relative;
  background-color: #f8f8f8;
  overflow: hidden;
  transform: translateZ(0px);
  .social-icons {
    font-size: 2.0em;
    a {
      margin: 0px 2.5vw;
    }
    margin-top: 0px;
  }
  &.hide-nav {
    transition: max-height 300ms;
    max-height: 0px;
  }
  &.show-nav {
    transition: max-height 300ms;
    max-height: 197px;
  }
}
