// Fonts
$font-family-serif: "Lora";
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

// Colors
$black-color: #333;
$gray-color: #999;
$blue-color: #4A90E2;
$dark-blue-color: #1f69c1;
$light-gray-color: #EEE;

// Screen sizes
$screen-xs-max: 768px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
