<article class="<%= class_names.join(' ') unless class_names.nil? %>""">
  <h2 class="main-header"><%= link_to article.title, article.url %></h2>
  <h5 class="sub-header"><%= article.date.strftime('%b %e, %Y') %></h5>
  <%= article.body %>
</article>
