<header class="site-header">
  <%= image_tag "images/face.jpg", class: "site-logo" %>
  <div class="site-header-text">
    <h1 class="site-title">Raymond Cox</h1>
    <h2 class="site-description">Boston Software Engineer</h2>
  </div>
  <%= partial("partials/social_icons") %>
</header>

