<div class="<%= class_names.join(' ') unless class_names.nil? %> social-icons">
  <a href="https://github.com/raymondjcox"><i class="fa fa-github" aria-hidden="true"></i></a>
  <a href="https://www.twitter.com/raymondcox"><i class="fa fa-twitter" aria-hidden="true"></i></a>
  <a href="mailto:raymond@helios.raymondjcox.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
</div>

